<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783392450620-rj1jb51qh32qsndc66nifgg4lg7vi5ro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783392450620-rj1jb51qh32qsndc66nifgg4lg7vi5ro</string>
	<key>API_KEY</key>
	<string>AIzaSyANKPDF15kZJQ3QV-DIb2jgY1pbo-3U1rs</string>
	<key>GCM_SENDER_ID</key>
	<string>783392450620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.video1</string>
	<key>PROJECT_ID</key>
	<string>video1-1b146</string>
	<key>STORAGE_BUCKET</key>
	<string>video1-1b146.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783392450620:ios:596ed45b1ed76e5c52bb39</string>
</dict>
</plist>